html {
  margin:0;
  padding:0;
  background: url(./img/adn.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

h1 {color: white; margin-left: 10px;}

#entete{ position: absolute; margin-left: 10px; top: 10px;}

#menu { position: absolute; bottom: 33%; margin:0;
  background-image:url(./img/bg_menu.png); height: 116px; width: 100%; }

#form {color: white; margin-left: 10px;}

#auteur{position: absolute; margin-left: 90%; bottom: 10px; }
